.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorSwatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.color {
  width: 120px;
  height: 80px;
  border-radius: 16px;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.button {
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  background-color: white;
}
